<app-header></app-header>
<main>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-6" *ngFor="let artisan of artisan">
                <div class="col-md-6">
                    <h3 class="title">{{ artisan.name }}</h3>
                    <p class="text"><app-star-rating [rating]=artisan.note></app-star-rating></p>
                    <p class="text">Spécialité: {{ artisan.specialty }} </p>
                    <p class="text"> Localisation:{{artisan.location}}</p>
                </div>
                <div class="col-md-6">
                    <h2> A propos</h2>
                    <p>{{artisan.about}}</p>
                </div>   
            </div>
            <div class="col-md-6">
                <app-contact></app-contact>
            </div>
        </div>
    </div> 
</main>
<app-footer></app-footer>

