<app-header></app-header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6" *ngFor="let artisan of artisan">
                <h2>Présentation de {{artisan.title}}</h2>
                <div class="col-md-12">
                    <p class="text"><app-star-rating [rating]=artisan.note></app-star-rating></p>
                    <p class="text">Spécialité: {{ artisan.specialty }} </p>
                    <p class="text"> Localisation:{{artisan.location}}</p>
                </div>
                <div class="col-md-12">
                    <h2> A propos</h2>
                    <p>{{artisan.about}}</p>
                </div>
                <div *ngIf="artisan.website">
                    <p> Vous pouvez consulter le site internet :</p>
                    <a [href]="artisan.website" target="_blank" >{{artisan.website}}</a>
                </div>
            </div>  
            <div class="col-md-6">
            <app-contact></app-contact>
            </div>

        </div>
    </div> 
</main>
<app-footer></app-footer>

