<div class="footer container-fluid  row  justify-content-center">
    <section class="contact-infos col-lg-6 row">
        <h4>Lyon</h4>
        <div class="adress row">
            <div class="icon col-2">
                <i class="fa-solid fa-location-dot fa-xl"></i>
            </div>
            <div class="infos col-10">
                <address>
                    101 cours Charlemagne <br/>
                    CS 20033 <br/>
                    69269 LYON CEDEX 02 <br/>
                    France
                </address>
                <p>Ouvert de 8h15 à 17h du lundi au vendredi</p>
            </div>
        </div>
        <div class="phone row">
            <div class="icon col-2">
                <i class="fa-solid fa-phone"></i>
            </div>
            <div class="infos col-10">
                <address href="+33426734000">
                    +33 (0)4 26 73 40 00
                </address>
                <p>De 8h30 à 17h du lundi au vendredi</p>
            </div>
        </div>
    </section>
    <section class="contact-infos col-lg-6 row">
        <h4>Liens utiles: </h4>
        <div class="site-map">
            <ul>
                <li>
                    <i class="fa-solid fa-minus"></i>
                    <a href="#">Mentions légales</a>
                </li>
                <li>
                    <i class="fa-solid fa-minus"></i>
                    <a href="#">Données personnelles</a>
                </li>
                <li>
                    <i class="fa-solid fa-minus"></i>
                    <a href="#">Accessibilité</a>
                </li>
                <li>
                    <i class="fa-solid fa-minus"></i>
                    <a href="#">Gestion des cookies</a>
                </li>
            </ul>
        </div>
    </section>
</div>
