.footer{
    background-color: #0074c7;
    color: #f1f8fc;
    padding: 20px;
}

h4{
    font-weight: bold;
}

.icon {
    width: 36px;
    height: 36px;
}

ul{
    list-style-type: none;
    
    i{
        margin-right: 10px ;
    };

    a{
        text-decoration: none;
        color: #f1f8fc;
    }
}