<main>
  <div class="col">
      <h3>Formulaire de contact</h3>
      <p>Pour contacter l'entreprise /artisan, merci de remplir le formulaire ci-dessous.</p>
      <form [formGroup]="form" (submit)="onSubmit($event)">
        <div  class="row">
            <div class="col-md-6">
              <label for="firstName" class="form-label">Prénom 
                <input type="text"  id="firstName" class="form-control"  aria-label="firstName" formControlName="firstName">
              </label> 
            </div>
            <div class="col-md-6">
              <label for="lastName"  class="form-label">Nom
                <input type="text" id="lastName" class="form-control"  aria-label="lastName" formControlName="lastName">
              </label> 
            </div>
        </div>
        <div class="col">
            <label for="subject"  class="form-label">Objet
              <input type="text"  id="subject" class="form-control" id="subject" formControlName="subject">
            </label> 
          </div>
        <div class="col">
            <label for="email"  class="form-label">Votre email
             <input type="email" id="email" class="form-control" id="email" formControlName="email">
            </label> 
          </div>
        <div class="col">
            <label for="message"  class="form-label">Votre message
             <textarea id="message" rows="4" cols="50" class="form-control" placeholder="Entrer votre question ou message" id="message" formControlName="message"></textarea>
            </label> 
          </div>
        <button type="submit" class="btn text-light my-3 col">Envoyer</button>
      </form>
      <div *ngIf="submit" class="validMessage"> Le message a été envoyé</div>

    </div>    
</main>
