@font-face {
    font-family: "Graphik";
    src: url('assets/font/Graphik-Regular-Trial.otf');
    font-weight: regular;
}

@font-face {
    font-family: "Graphik";
    src: url('assets/font/Graphik-Bold-Trial.otf');
    font-weight: bold;
}

*{
    font-family: "Graphik";
}

main {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}